header.header
    .header__column
        span.header__logo
            a(href=routes.home)
                i.fab.fa-youtube
        span.header__title=siteTitle
    .header__column
        form(action=routes.search, method="get")
            input(type="text", name="term", placeholder="Searching by term...")
    .header__column
        ul
            if !loggedUser
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) Login
            else
                li
                    a(href=`/video${routes.upload}`) Upload
                li
                    a(href=routes.me) Profile
                li
                    a(href=routes.logout) Logout